@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sometype Mono", monospace;
}

body {
  background-color: #f1f5f8;
}

h1 {
  color: hsl(205, 86%, 17%);
  text-align: center;
}

/* FORMULARIO */
.container {
  display: flex;
  margin-top: 4rem;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
}

.app {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#form {
  width: 30rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#grocery {
  width: 18rem;
  border: 1px solid black;
  border-radius: 0.3rem 0 0 0.3rem;
  padding: 0.3rem;
}

#grocery:focus {
  outline: none;
}

#submit-btn {
  border-radius: 0 0.3rem 0.3rem 0;
  border: 1px solid black;
  background-color: hsl(205.3, 85.6%, 81%);
  padding: 0.5rem 0.5rem;
  border-left: none;
  cursor: pointer;
}

#submit-btn:hover {
  opacity: 0.7;
}
